<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link href="/favicon.ico" rel="icon">

    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Anton|Roboto|Tangerine" rel="stylesheet">

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href='/stylesheets/bootstrap/css/bootstrap.min.css'>
    <!--
      <link rel="stylesheet" href='/stylesheets/bootstrap/css/bootstrap-theme.min.css'>
    -->

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="/stylesheets/ie10-viewport-bug-workaround.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="/javascripts/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
     <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
     <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- Style Selection based on the Screen Size -->
    <link rel="stylesheet" media="screen and (min-width: 320px)" href="/stylesheets/albeebot.css" />
    <link rel='stylesheet' media='screen and (max-width: 319px)' href='/stylesheets/albeebotEmbed.css' />

    <!-- Progress Web App // -->
    <link rel="manifest" href="/manifest.json">

    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="AlBee Chatbot">
    <link rel="apple-touch-icon" href="/images/albee96.png">
    <meta name="msapplication-TileImage" content="/images/albee128.png">
    <meta name="msapplication-TileColor" content="#002D72">
    <!-- // Progress Web App -->


    <script src="/javascripts/jquery-3.2.1.min.js"></script>
    <script src="/javascripts/ApiAi.js"></script>
    <script src="/javascripts/dialogflow.js"></script>
    <script src="/javascripts/bootstrap/bootstrap.min.js"></script>

    <script src="/javascripts/albchatbot.js"></script>

    <!-- Progress Web App // -->
    <script>
      if ('serviceWorker' in navigator) {
        window.addEventListener('load', function() {
          navigator.serviceWorker.register('/service-worker.js');
        });
      }
    </script>
    <!-- // Progress Web App -->

  </head>
  <body>
    <div class="albeechatbot">
        <div class="albeechatbot__header">
          <div class="navbar navbar-blend navbar-fixed-top">
            <div class="navbar-header pull-left">
              <a class="navbar-brand" href="#">
                <span class="albLogo"><img class="albNavIcon" src="/images/albee32.png" class="shadow"/> AlBee Chatbot </span>
              </a>
            </div>
            <div class="navbar-header pull-right">

                <span id="getMessages" class="glyphicon glyphicon-comment iconNav" title="Messages"></span>
                <span id="getEvents" class="glyphicon glyphicon-calendar iconNav" title="Events"></span>
                <span class="iconNav">&nbsp;</span>
                <span id="speechSynthes" class="glyphicon glyphicon-volume-off iconNav" title="Speech Synthes"></span>
                <span class="iconNav">&nbsp;</span>
                <button type="button" class="btn-xs btn-outline-secondary">
                <span id="getMenu" class="glyphicon glyphicon-menu-hamburger iconNav" style="color: #4267b2;" title="Menu"></span>
                </button>

              </a>
            </div>
          </div>

        </div>

        <!-- Content -->
        <div class="albeechatbot__content">

          <div id="dialog-container">
            <div class="inText"><div class="inTextLeft"><img class="img-circle" src="/images/albee32.png"></div><div class="inTextRight"><%= messageoftheday %></div></div>

            <div id="menu-container">
              [ <span class="getDialogs glyphicon glyphicon-remove" style="color: #4267b2;" title="Close"></span> ]
              <p>This is the Menu Page</p>
            </div>

            <div id="messages-container">
              [ <span class="getDialogs glyphicon glyphicon-remove" style="color: #4267b2;" title="Close"></span> ]
              <p>This is the Message Page</p>
            </div>

            <div id="events-container">
              [ <span class="getDialogs glyphicon glyphicon-remove" style="color: #4267b2;" title="Close"></span> ]
              <p>This is the Events Page</p>
            </div>

          </div>



        </div>

        <div class="albeechatbot__footer">
          <div id="input-container">
            <div id="input-box">
                <div class="inputForm">
                  <div class="rightInput">
                    <button id="inputSend" type="button">Send!</button>
                  </div>
                  <div class="leftInput">
                    <input type="text" id="inputAsk" class="textInput" value="" placeholder="Type your question .. " />
                  </div>
                </div>
                <div class="voiceAction">
                  <img class="iconSpeech" id="enableSpeech" class="imageMiddle" src="images/blueMic32.png" />
                  <img class="iconSpeech" id="disableSpeech" class="imageMiddle" src="images/grayMic32.png" />
                </div>
                <small style="font-size: .75em;">Albee Chatbot is <a href="#">an opensoure project</a> / Copyright (c) 2017 by <a href="mailto:mt8168@gmail.com">Max Tsai</a> </small>
            </div>
          </div>
        </div>

    </div>
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/javascripts/jquery-3.2.1.min.js"></script>
    <script src="/javascripts/bootstrap/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="/javascripts/ie10-viewport-bug-workaround.js"></script>

  </body>
</html>
